//colors
$primary-text-color: #000000de;
$main-hero-text-color: #ffffff;

$placeholder-text-color: #7e7e7e;
$input-border-color: #d0cfcf;
$input-border-error-color: #cb3d40;

$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$button-hover-color: #ffe302;
$button-disabled-color: #b4b4b4;

//device sizes
$tablet: 768px;
$desktop: 1024px;
