.mainHero {
  &-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../data/images/pexels-alexandr-podvalny-1227513.jpeg);
    background-repeat: no-repeat;
    background-size: 300% 165%;
    background-position: 55% 99%;
    @media screen and (min-width: $desktop) {
      background-size: 180% 165%;
      background-position: 82% 99%;
    }
  }
  &-wrapper {
    padding-top: 40px;
    padding-bottom: 71px;
    text-align: center;
    max-width: 328px;
    margin: 0 auto;
    color: $main-hero-text-color;
    height: 500px;

    @media screen and (min-width: $tablet) {
      max-width: 380px;
      padding-top: 89px;
      padding-bottom: 88px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 164px;
      padding-bottom: 163px;
      height: 650px;
    }
  }
  &-header {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 21px;
  }
  &-text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
