.userCard {
  &-wrapper {
    width: 328px;
    height: 254px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    @media screen and (min-width: $tablet) {
      width: 344px;
    }
    @media screen and (min-width: $desktop) {
      width: 282px;
    }
  }
  &-img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  &-name {
    display: block;
    margin-bottom: 20px;
    text-overflow: ellipsis;
  }
  &-bio {
    text-overflow: ellipsis;
  }
}
